<section class="task-from-section">
    <div class="form-haeding">
        <h2>Create a task</h2>
        <p>Add a new to your workpace</p>
    </div>

    <form [formGroup]="taskFrom" (ngSubmit)="submitTask()">
        <label>
            <span>Task Title</span>
            <input type="text" formControlName = "title" placeholder="Enter a task title"/>
            @if(
                taskFrom.controls.title.invalid &&
                taskFrom.controls.title.touched
            ){
                <small class="field-error">
                    @if(taskFrom.controls.title.hasError('required')){
                        A task is required
                    }@else if (taskFrom.controls.title.hasError('minlength')) {
                        Entre at least 3 charecters
                    }
                </small>
            }
        </label>

        <label >
            <span>Description</span>
            <textarea formControlName="description" rows="4" placeholder="Description the task"></textarea>
             @if(
                taskFrom.controls.description.invalid &&
                taskFrom.controls.description.touched
            ){
                <small class="field-error">
                    @if(taskFrom.controls.description.hasError('required')){
                        A task is required
                    }@else if (taskFrom.controls.description.hasError('minlength')) {
                        Entre at least 10 charecters
                    }
                </small>
            }
        </label>

        <div class="form-row">
            <label >
                <samp>Status</samp>
                <select formControlName="status">
                    <option value="todo"> To Do</option>
                    <option value="in-progress">In Progress</option>
                    <option value="completed">Completed</option>
                </select>
            </label>

            <label>
                <span>Due date</span>
                <input type="date" formControlName="dueDate">
                 @if(
                taskFrom.controls.dueDate.invalid &&
                taskFrom.controls.dueDate.touched
            ){
                <small class="field-error">
                    Please select a due date
                </small>
            }
            </label>
        </div>
        <button type="submit" [disabled]="taskFrom.invalid">
            Add Task
        </button>
        
    </form>
</section>
